<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.sisi.postoko">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/forcapos"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/forcapos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:targetApi="n">
        <activity
            android:name=".view.ui.addsales.AddSaleActivity"
            android:label="@string/title_activity_add_sale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.customergroup.CustomerSelectedCustomerGroupActivity"
            android:label="@string/title_activity_customer_selected_customer_group"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".view.ui.customergroup.EditCustomerGroupActivity" -->
        <!-- android:label="@string/title_activity_edit_customer_group" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.ui.pricegroup.CustomerSelectedPriceGroupActivity"
            android:label="@string/title_activity_customer_selected_price_group"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".view.ui.pricegroup.EditPriceGroupActivity" -->
        <!-- android:label="@string/title_activity_edit_price_group" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.ui.customer.EditCustomerActivity"
            android:label="@string/title_activity_edit_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.customer.AddCustomerActivity"
            android:label="@string/title_activity_add_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.customer.DetailCustomerActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.sales.EditSaleActivity"
            android:label="@string/title_activity_edit_sale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.sales.EditProductSalesActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.sales.AddProductSalesActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.gr.DetailGoodReceivedActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".view.ui.sales.DetailSalesBookingActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".view.ui.payment.PaymentActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ui.delivery.DeliveryActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".view.MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.payment.DetailPaymentActivity" />
        <activity
            android:name=".view.ui.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.ui.pricegroup.DetailPriceGroupActivity" /> <!-- <activity -->
        <!-- android:name=".view.ui.pricegroup.AddPriceGroupActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.ui.pricegroup.AddCustomerPriceGroupActivity"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".view.ui.customergroup.AddCustomerGroupActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".view.ui.customergroup.AddCustomerToCustomerGoupActivity"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>